db.sqlite3
GerenciamentoAcademiaDietaApp/__pycache__/*
/apps/core/__pycache__/*
/apps/core/migrations/*
/apps/cliente/__pycache__/*
/apps/cliente/migrations/*
/apps/adicionaispago/__pycache__/*
/apps/adicionaispago/migrations/*
/apps/accounts/__pycache__/*
/apps/accounts/migrations/*
/apps/alimento/__pycache__/*
/apps/alimento/migrations/*
/apps/exercicio/__pycache__/*
/apps/exercicio/migrations/*
/apps/personal/__pycache__/*
/apps/personal/migrations/*
/apps/nutricionista/__pycache__/*
/apps/nutricionista/migrations/*
