db.sqlite3
GerenciamentoAcademiaDietaApp/__pycache__/*
/apps/core/__pycache__/*
/apps/core/migrations/*
/apps/cliente/__pycache__/*
/apps/cliente/migrations/*
/apps/adicionaispago/__pycache__/*
/apps/adicionaispago/migrations/*
/apps/accounts/__pycache__/*
/apps/accounts/migrations/*
# .env