{% extends "base.html" %}

{% block title %}
    {{ block.super }} - Início
{% endblock title %}

{% block body %}
{% include "./components/navbar.html" %}
<main class="container-lg min-vh-100 d-flex justify-content-center align-items-center">
  <div class="w-50">
    <h1 class="text-center mb-4">Cadastrar um Cliente</h1>

    <form method="POST" action="" class="w-100">
      {% csrf_token %}

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Primeiro Nome</label>
        {{form.primeiro_nome}}
      </div>
      
      <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Segundo Nome</label>
        {{form.segundo_nome}}
        
      </div>

      <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email </label>
            {{form.email}}
            
      </div>

      <div class="mb-3">
        <label for="endereco" class="form-label">Endereço</label>
        {{ form.endereco }}
      </div>
          

      <div class="mb-3 form-check">
        {{ form.genero }}
      </div>

      {% for checkbox in form.item_cliente %}
        <div class="form-check">
          {{ checkbox.tag }}  
          <label class="form-check-label" for="{{ checkbox.id_for_label }}">
            {{ checkbox.choice_label }}
          </label>
        </div>
      {% endfor %}


      <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>

    </form>
  </div>
</main>

{% endblock body %}
