{% extends "base.html" %}

{% block title %}
    {{ block.super }} - Início
{% endblock title %}

{% block body %}
<main class="container-lg min-vh-100 d-flex justify-content-center align-items-center">
  <div class="w-50">
    <h1 class="text-center mb-4">Crie sua conta</h1>

    <form method="POST" class="w-100">
      {% csrf_token %}

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Primeiro Nome</label>
        {% comment %} <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> {% endcomment %}
        {{form.primeiro_nome}}
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Segundo Nome</label>
        {% comment %} <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> {% endcomment %}
        {{form.segundo_nome}}
        
      </div>

      <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            {% comment %} <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> {% endcomment %}
            {{form.email}}
            <div id="emailHelp" class="form-text">Nós nunca iremos compartilhar essa informação com ninguém.</div>
        </div>
          

      <div class="mb-3 form-check">
        <label class="form-check-label" for="exampleCheck1">Genero</label>
        {{form.genero}}
      </div>

      <div class="mb-3 form-check">
        <label class="form-check-label" for="exampleCheck1">Adicionais pagos</label>
        {{form.item_cliente}}
      </div>

      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
</main>

{% endblock body %}
