{% extends "base.html" %}

{% block title %}
    {{ block.super }} - Início
{% endblock title %}


{% block body %}
{% include "./components/navbar.html" %}
  <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Primeiro Nome</th>
                    <th>Segundo Nome</th>
                    <th>Endereço</th>
                    <th>Email</th>
                    <th>Gênero</th>
                    <th>Adicionais Pagos</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for c in cliente %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ c.id }}</td>
                        <td>{{ c.primeiro_nome }}</td>
                        <td>{{ c.segundo_nome }}</td>
                        <td>{{ c.endereco }}</td>
                        <td>{{ c.email }}</td>
                        <td>
                            {% if c.genero == "M" %}
                                Masculino
                            {% elif c.genero == "F" %}
                                Feminino
                            {% else %}
                                Outro
                            {% endif %}
                        </td>
                        <td>
                            <ul>
                                {% for item in item_cliente %}
                                    {% if item.cliente.id == c.id %}
                                        <li>{{ item.adicionaisPago.nome }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{% url 'editar_cliente' c.id %}">Editar</a> |
                            <a href="{% url 'excluir_cliente' c.id %}">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </main>
{% endblock body %}