{% extends 'base.html' %}

{% block title %}
    Trocar senha - {{ block.super}}
{% endblock title %}

{% load widget_tweaks %}

    
{% block body %}
<main class="container-lg min-vh-100 d-flex justify-content-center align-items-center">
  <div class="w-50">
    <h1 class="text-center mb-4">Alterar Senha</h1>

    <form method="POST" action="" class="w-100">
      {% csrf_token %}

      <div class="mb-3">
        <label for="id_old_password" class="form-label">Senha anterior</label>
        {{ form.old_password|add_class:"form-control form-control-lg" }}
      </div>

      <div class="mb-3">
        <label for="id_new_password1" class="form-label">Nova senha</label>
        {{ form.new_password1|add_class:"form-control form-control-lg" }}
      </div>

      <div class="mb-3">
        <label for="id_new_password2" class="form-label">Confirmar nova senha</label>
        {{ form.new_password2|add_class:"form-control form-control-lg" }}
      </div>

      <button type="submit" class="btn btn-primary w-100">Atualizar</button>
    </form>
  </div>
</main>

{% endblock body %}