{% extends "base.html" %}

{% block title %}
    {{ block.super }} - Início
{% endblock title %}

{% block body %}
    <main class="container d-flex justify-content-center align-items-center flex-column gap-4" style="min-height: 100vh;">
        <h1 class="text-center">Crie um Adicional</h1>

      <form method="POST">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nome</label>
            {{form.nome}}
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Preço</label>
            {{form.preco}}
        </div>
      </form>
        

    </main>
{% endblock body %}
