{% extends "base.html" %}

{% block title %}
    {{ block.super }} - Início
{% endblock title %}


{% block body %}
{% include "../cliente/components/navbar.html" %}
<main class="container-lg min-vh-100 d-flex justify-content-center align-items-center">

  <table class="table">
            <thead>
                
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for ap in adicionaisPagos %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ ap.id }}</td>
                        <td>{{ ap.nome }}</td>
                        <td>{{ ap.preco }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'adicionaisPago:edit_adicionalPago' ap.id %}">Editar</a> 
                            <a class="btn btn-danger" href="{% url 'adicionaisPago:delete_adicional' ap.id %}">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="{% url 'adicionaisPago:add_adicionalPago'%}">Criar Adicional Pago</a> 

    </main>
{% endblock body %}