{% extends "base.html" %}

{% block title %}
    {{ block.super }} - Início
{% endblock title %}

{% block body %}
<main class="container d-flex justify-content-center align-items-center flex-column gap-4" style="min-height: 100vh;">
    <h1 class="text-center">Bem-vindo(a) à FitLife</h1>

    <div class="d-flex flex-column gap-2 w-100" style="max-width: 300px;">
        <a type="button" href="" class="btn btn-primary btn-lg">Cadastro</a>
        <a  type="button" href="" class="btn btn-outline-primary btn-lg" >Login</a>
    </div>
</main>
{% endblock body %}
